/* General styles for body and background */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #9e7aad;
    overflow: hidden; /* Hide overflow to prevent scrolling */
    background: url('../images/1092.jpg') no-repeat center center fixed;
    background-size: cover; /* Cover the entire background */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Adjust background size for smaller screens */
    }

    #toggleControls, #toggleSidebar {
        font-size: 14px; /* Decrease font size for buttons on smaller screens */
    }

    #sidebar {
        width: 150px; /* Reduce sidebar width for smaller screens */
        top: 10px;
        right: 10px;
    }

    #sidebar button {
        font-size: 14px; /* Decrease font size for sidebar buttons on smaller screens */
        padding: 8px; /* Adjust padding for smaller buttons */
    }
}

/* Styles for the container and canvas */
canvas {
    display: block;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* Styles for toggle buttons and sidebar */
#toggleControls, #toggleSidebar {
    position: absolute;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

#toggleControls {
    top: 20px;
    left: 20px;
    background-color: #a8b0b9;
}

#toggleControls:hover {
    background-color: #335a82;
}

#toggleSidebar {
    top: 20px;
    right: 20px;
    background-color: #28a745;
}

#toggleSidebar:hover {
    background-color: #6cba7d;
}

/* Styles for the sidebar */
#sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#sidebar button {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #ab67b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#sidebar button:hover {
    background-color: #0056b3;
}

#sidebar button:active {
    transform: scale(0.95);
}
