/* Styles for toggle buttons and sidebar */
#toggleControls, #toggleSidebar {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

#toggleControls {
    top: 20px;
    left: 20px;
    background-color: #a8b0b9;
}

#toggleControls:hover {
    background-color: #335a82;
}

#toggleSidebar {
    top: 20px;
    left: 20px;
    background-color: #28a745;
}

#toggleSidebar:hover {
    background-color: #6cba7d;
}

/* Sidebar styles */
#sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#sidebar button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    background-color: #ab67b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

#sidebar button:hover {
    background-color: #0056b3;
}

#sidebar button:active {
    transform: scale(0.95);
}

/* Media query for small screens */
@media (max-width: 768px) {
    #toggleControls, #toggleSidebar {
        display: block;
    }

    #sidebar {
        display: none;
    }

    /* Hide camera properties GUI on small screens */
    .gui-controls {
        display: none !important;
    }
}
